<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Minimum wage change (1968-2020)</h1>
    <form action="/submit_focus" method="POST">
        <p>Select which type of data to visualize:</p>
        <input type="radio" name="focus" id="Federal" value="Federal">
        <label for="Federal">Federal Minimum Wage</label><br>
        <input type="radio" name="focus" id="State"  value="State">
        <label for="State">State Minimum Wage</label><br>
        <div><button type="submit">Submit</button></div>
    </form>
</body>
</html>